.container {
  // border: 1px solid black;
  // border-radius: 10px;
  width: 100%;
}

.innerContainer {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media screen and (max-width: 704px) {
    margin: 40px;
  }
}

.formTitle {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.chooseBtn {
  margin-top: 10px;
}

.formContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.inputField {
  width: 200px;
  margin: 20px;
  @media screen and (max-width: 878px) {
    width: 100%;
    margin: 5px 0 5px 0;
  }
}

.submitDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}
