.container {
  width: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 700px) {
  .container {
    width: 100%;
    background-color: #f9f7f4;
  }
}

.container .innerContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 80px 0 80px;
  padding-bottom: 50px;
}

@media screen and (max-width: 704px) {
  .container .innerContainer {
    width: 95%;
    padding-bottom: 80px;
    margin-top: 20px;
  }
}

.container .innerContainer .topText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
}

.container .innerContainer .topText .formTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 50px;
  margin: 0 0 10px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .container .innerContainer .topText .formTitle {
    font-size: 35px;
  }
}

.container .innerContainer .topText .updatingMsg {
  margin: 10px 0 10px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.container .innerContainer .topText .templateBtnDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.container .innerContainer .topText .templateBtnDiv :nth-child(1) {
  margin-right: 15px;
}

.container .innerContainer .topText .templateBtnDiv .btn {
  color: #ff7300;
  border: 0.5px solid #ff7300;
}

.container .innerContainer .topText .templateBtnDiv .btn:hover {
  background-color: rgba(255, 115, 0, 0.116);
}

.container .innerContainer .topText .templatesBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ff7300;
  color: white;
  height: 50%;
  width: 50%;
}

.container .innerContainer .topText .templatesBtn:hover {
  background-color: #ee6b00;
  border: none;
  outline: none;
}

@media screen and (min-width: 700px) {
  .container .innerContainer .topText .templatesBtn {
    display: none;
  }
}

.container .innerContainer .topText .leftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px;
}

.container .innerContainer .topText .desc {
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
}

@media screen and (max-width: 700px) {
  .container .innerContainer .topText .desc {
    font-size: 15px;
    width: 90%;
  }
}

.container .innerContainer .loading {
  position: relative;
  top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .innerContainer .loading .loadingText {
  margin-right: 5px;
}

.container .innerContainer .updateLabel {
  font-size: 20px;
  margin-bottom: 15px;
}

@media screen and (max-width: 700px) {
  .container .innerContainer .updateLabel {
    font-size: 15px;
  }
}

.container .innerContainer .chooseBtn {
  margin-top: 20px;
  background-color: #ff7300;
  color: white;
}

.container .innerContainer .chooseBtn:hover {
  background-color: #ee6b00;
  border: none;
  outline: none;
}

.container .innerContainer .chooseBtn .shuffle {
  margin-left: 5px;
  position: relative;
  top: -1px;
}

@media screen and (max-width: 700px) {
  .container .innerContainer .chooseBtn {
    width: 95%;
  }
}

.formContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formContainer .form {
  width: 100%;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 878px) {
  .formContainer .form {
    margin-top: 30px;
    width: 95%;
  }
}

.formContainer .form .inputField {
  width: 200px;
  margin: 20px;
}

@media screen and (max-width: 1054px) {
  .formContainer .form .inputField {
    margin: 10px;
  }
}

@media screen and (max-width: 878px) {
  .formContainer .form .inputField {
    width: 100%;
    margin: 5px 0 5px 0;
  }
}

.formContainer .form .submitDiv {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.submitDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 700px) {
  .submitDiv {
    width: 95%;
    margin-left: 0;
  }
}

.submitDiv .findBtn {
  height: 46px;
  width: 200px;
  margin-top: -3px;
  background-color: #ff7300;
  color: white;
  font-size: 20px;
}

.submitDiv .findBtn:hover {
  background-color: #ee6b00;
  border: none;
  outline: none;
}

@media screen and (max-width: 878px) {
  .submitDiv .findBtn {
    margin-left: 20px;
  }
}

@media screen and (max-width: 700px) {
  .submitDiv .findBtn {
    width: 100%;
    margin-left: 0;
  }
}

.submitDiv .findBtn .icon {
  margin-left: 5px;
}

.submitDiv .spinner {
  position: absolute;
  margin-top: 70px;
}
/*# sourceMappingURL=Form.module.css.map */