.container {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.innerContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 704px) {
  .innerContainer {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 500px) {
  .innerContainer {
    margin: 10px;
  }
}

.innerContainer .formTitle {
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}

.innerContainer .desc {
  text-align: center;
  font-size: 20px;
}

.innerContainer .loading {
  position: relative;
  top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.innerContainer .loading .loadingText {
  margin-right: 5px;
}

.innerContainer .updateLabel {
  font-size: 20px;
}

.chooseBtn {
  margin-top: 10px;
  background-color: #ff7300;
  color: white;
}

.chooseBtn:hover {
  background-color: #ee6b00;
  border: none;
  outline: none;
}

.chooseBtn .shuffle {
  margin-left: 5px;
  position: relative;
  top: -1px;
}

.formContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form {
  width: 100%;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 878px) {
  .form {
    margin-top: 30px;
    width: 95%;
  }
}

.inputField {
  width: 200px;
  margin: 20px;
}

@media screen and (max-width: 878px) {
  .inputField {
    width: 100%;
    margin: 5px 0 5px 0;
  }
}

.submitDiv {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.findBtn {
  height: 46px;
  width: 200px;
  margin-top: -3px;
  background-color: #ff7300;
  color: white;
  font-size: 20px;
}

.findBtn:hover {
  background-color: #ee6b00;
  border: none;
  outline: none;
}

@media screen and (max-width: 878px) {
  .findBtn {
    margin-left: 20px;
  }
}

@media screen and (max-width: 700px) {
  .findBtn {
    width: 95%;
    margin-left: 0;
  }
}

.findBtn .icon {
  margin-left: 5px;
}
/*# sourceMappingURL=Form.module.css.map */