.container {
  width: 100%;
}

.innerContainer {
  position: relative;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
  @media screen and (max-width: 704px) {
    margin: 40px;
    padding-bottom: 100px;
  }
  @media screen and (max-width: 500px) {
    margin: 15px;
  }
}

.formTitle {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}

.desc {
  text-align: center;
}

.chooseBtn {
  margin-top: 10px;
  background-color: rgb(255, 115, 0);
  color: white;
  &:hover {
    background-color: rgb(238, 107, 0);
    border: none;
    outline: none;
  }
}

.loading {
  position: absolute;
  top: 130px;
  display: flex;
  @media screen and (max-width: 878px) {
    top: 150px;
  }
}

.loadingText {
  margin-right: 5px;
}

.formContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 878px) {
    margin-top: 30px;
  }
}

.inputField {
  width: 200px;
  margin: 20px;
  @media screen and (max-width: 878px) {
    width: 100%;
    margin: 5px 0 5px 0;
  }
}

.submitDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.findBtn {
  background-color: rgb(255, 115, 0);
  color: white;
  &:hover {
    background-color: rgb(238, 107, 0);
    border: none;
    outline: none;
  }
}
