.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0 50px;
}

.findContainer {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 1250px) {
    width: 95%;
  }
}
