.locationContainer {
  margin-top: -30px;
  width: 95%;
}

.locationContainer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.locationContainer .container .inputDiv {
  position: relative;
  width: 100%;
}

.locationContainer .container .inputDiv .inputGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 7px;
}

@media screen and (max-width: 878px) {
  .locationContainer .container .inputDiv .inputGroup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.locationContainer .container .inputDiv .inputRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid rgba(80, 80, 80, 0.377);
  border-radius: 5px;
  background-color: white;
  width: 400px;
}

.locationContainer .container .inputDiv .inputRow:hover {
  border: 1px solid black;
}

.locationContainer .container .inputDiv .inputRow:focus-within {
  border: 1px solid #156ff5;
}

@media screen and (max-width: 550px) {
  .locationContainer .container .inputDiv .inputRow {
    width: 100%;
  }
}

.locationContainer .container .inputDiv .inputRow .inputRowInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 7px 15px 7px 15px;
  width: 100%;
}

.locationContainer .container .inputDiv .inputRow .inputRowInner .input {
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
}

.locationContainer .container .inputDiv .inputRowInvalid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid rgba(255, 59, 59, 0.377);
  border-radius: 5px;
  margin: 0 10px 10px 0;
  width: 400px;
}

.locationContainer .container .inputDiv .inputRowInvalid:focus-within {
  border: 1px solid #fa5252;
}

@media screen and (max-width: 878px) {
  .locationContainer .container .inputDiv .inputRowInvalid {
    width: 100%;
  }
}

.locationContainer .container .inputDiv .suggestionBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
}

.locationContainer .container .inputDiv .suggestionBox .suggestions {
  position: absolute;
  z-index: 2;
  width: 402px;
  top: -20px;
}

@media screen and (max-width: 878px) {
  .locationContainer .container .inputDiv .suggestionBox .suggestions {
    margin-left: 0;
    bottom: 15px;
    width: 100%;
  }
}

.locationContainer .container .inputDiv .suggestionBox .suggestions .suggestion {
  border: 1px solid #818181;
  margin-top: -1px;
}

.locationContainer .container .inputDiv .currLocationBtn {
  font-size: 16px;
}

.locationContainer .container .inputDiv .updateBtn {
  height: 56px;
  background-color: #fff;
  color: #ff7300;
  border: 0.5px solid #ff7300;
}

@media screen and (max-width: 878px) {
  .locationContainer .container .inputDiv .updateBtn {
    height: 40px;
    width: 100%;
  }
}

.locationContainer .container .inputDiv .updateBtn:hover {
  background-color: whitesmoke;
  border: 0.5px solid #ee6b00;
}

.locationContainer .container .inputDiv .messagesDiv {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.locationContainer .container .inputDiv .message {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5px;
  font-weight: bold;
}

.locationContainer .container .inputDiv .message .text {
  margin-right: 5px;
}
/*# sourceMappingURL=Location.module.css.map */