.container {
  width: 100%;
}

.inputDiv {
  position: relative;
}

.inputGroup {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.inputTop {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 7px;
  @media screen and (max-width: 750px) {
    flex-direction: column;
  }
}

.inputRow {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(80, 80, 80, 0.377);
  border-radius: 5px;
  margin: 0 10px 10px 0;
  width: 100%;
  &:focus-within {
    outline: 2px solid rgb(21, 111, 245);
  }
}

.inputRowInner {
  display: flex;
  justify-content: space-between;
  margin: 7px 15px 7px 15px;
  width: 100%;
}

.input {
  width: 300px;
  font-size: 16px;
  border: none;
  outline: none;
  @media screen and (max-width: 704px) {
    // width: 100%;
  }
}

.suggestions {
  position: relative;
  z-index: 1;
  width: 80%;
  bottom: 10px;
  @media screen and (max-width: 750px) {
    bottom: 65px;
    width: 98%;
  }
}

.currLocationBtn {
  font-size: 16px;
}

.updateBtn {
  height: 56px;
  @media screen and (max-width: 704px) {
    height: 40px;
    width: 100%;
  }
}

.messagesDiv {
  position: relative;
}

.message {
  position: absolute;
  bottom: -10px;
}
