.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 30px;
  padding: 10px 5px 35px 5px;
  height: 100%;
}

.innerContainer {
  padding: 10px;
  .templateColumn {
    justify-content: space-between;
    .template {
      margin-left: 6px;
      cursor: pointer;
      width: fit-content;
      padding-bottom: 5px;
      transition: 0.2s ease-in-out;
      font-size: 20px;
      &:hover {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}
.createTemplate {
  margin-top: 15px;
  .createTitle {
    font-size: 20px;
  }
  .createBtn {
    background-color: rgb(255, 115, 0);
    color: white;
    &:hover {
      background-color: rgb(238, 107, 0);
      border: none;
      outline: none;
    }
  }
  .inputField {
    margin: -10px 0 10px;
  }
}

.loginText {
  margin-right: 5px;
}
