@mixin center() {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 25px;
  border: none;
  background: none;
  cursor: pointer;
  color: black;
  &:hover {
    color: rgb(197, 95, 0);
  }
}

.container {
  margin-left: 20px;
}

.logoutBtn {
  @include center();
  @media screen and (max-width: 700px) {
    font-size: 20px;
  }
}
.loginBtn {
  @include center();
  @media screen and (max-width: 700px) {
    font-size: 20px;
  }
}
.icon {
  margin-left: 5px;
}
