@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  font-family: "Avenir";
}

.sortButtonContainer {
  width: 75%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;

  @media screen and (max-width: 1200px) {
    width: 60%;
    padding-left: 10px;
    justify-content: flex-start;
  }

  @media screen and (max-width: 760px) {
    width: 65%;
  }
  @media screen and (max-width: 660px) {
    width: 80%;
  }

  @media screen and (max-width: 560px) {
    width: 90%;
  }

  @media screen and (max-width: 500px) {
    width: 100%;
    margin-left: 0;
    justify-content: center;
    height: auto;
    padding-left: 3px;
  }

  .sortButtons {
    height: 30px;
    margin-right: 10px;

    @media screen and (max-width: 500px) {
      height: 25px;
      margin-right: 9px;
    }
  }

  .resetButton {
    outline: 1px solid rgb(255, 132, 0);
    color: orange;
    border: none;

    &:hover {
      background-color: orange;
      color: white;
    }
  }
}



.randomizeButton {
  height: 40px;
  font-size: 1em;
  background-color: #ff7300;
  color: white;
  &:hover {
    background-color: #d56103;
    border: none;
    outline: none;
  }

}

