.omegaDiv {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Avenir";
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.foodChoiceDiv {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foodChoiceBox {
  padding: 1.3em;
}

.foodChoiceTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ff7300;
  font-weight: bold;
  width: 300px;
  height: 45px;
  margin-left: 10px;
}

.foodChoiceResult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 30px;
  font-size: 1.5em;
  font-weight: bold;
  color: #3c3c3c;
  padding: 0.5em;
  border-radius: 20px;
  background-color: transparent;
  outline: 2px solid orange;
  -webkit-box-shadow: rgba(255, 89, 0, 0.3) 0px 1px 2px 0px, rgba(254, 111, 1, 0.15) 0px 1px 3px 1px;
          box-shadow: rgba(255, 89, 0, 0.3) 0px 1px 2px 0px, rgba(254, 111, 1, 0.15) 0px 1px 3px 1px;
}

.outterBox {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1250px) {
  .outterBox {
    width: 100%;
  }
}

.outterBox .innerBox {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1250px) {
  .outterBox .innerBox {
    width: 95%;
  }
}

.outterBox .innerBox .resultsColumns {
  width: 52%;
  padding: 0.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1200px) {
  .outterBox .innerBox .resultsColumns {
    width: 45%;
  }
}

.outterBox .innerBox .mapBox {
  width: 45%;
  height: 100%;
  margin-top: 15px;
  -webkit-box-shadow: rgba(92, 92, 92, 0.3) 0px 1px 2px 0px, rgba(67, 67, 67, 0.15) 0px 1px 3px 1px;
          box-shadow: rgba(92, 92, 92, 0.3) 0px 1px 2px 0px, rgba(67, 67, 67, 0.15) 0px 1px 3px 1px;
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
}

@media screen and (max-width: 1200px) {
  .outterBox .innerBox .mapBox {
    width: 50%;
  }
}

.sortBy {
  width: 90%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Avenir";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

@media screen and (max-width: 1250px) {
  .sortBy {
    width: 95%;
  }
}

@media screen and (max-width: 1200px) {
  .sortBy {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Avenir";
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 1100px) {
  .sortBy {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Avenir";
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.sortBy .sortByTextCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Avenir";
  width: 47%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1400px) {
  .sortBy .sortByTextCont {
    width: 52%;
  }
}

@media screen and (max-width: 1300px) {
  .sortBy .sortByTextCont {
    width: 57%;
  }
}

@media screen and (max-width: 1200px) {
  .sortBy .sortByTextCont {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Avenir";
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.sortBy .sortByTextCont .sortByText {
  font-size: 1em;
  font-weight: bold;
  color: #616161;
}

@media screen and (max-width: 1200px) {
  .sortBy .sortByTextCont .sortByText {
    padding-left: 30px;
  }
}

.sortButtonContainer {
  width: 40%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 20px;
}

@media screen and (max-width: 1200px) {
  .sortButtonContainer {
    width: 60%;
    padding-left: 10px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (max-width: 760px) {
  .sortButtonContainer {
    width: 65%;
  }
}

@media screen and (max-width: 660px) {
  .sortButtonContainer {
    width: 80%;
  }
}

@media screen and (max-width: 560px) {
  .sortButtonContainer {
    width: 90%;
  }
}

.sortButtonContainer .sortButtons {
  height: 30px;
  margin-right: 10px;
}

.sortButtonContainer .resetButton {
  outline: 1px solid #ff8400;
  color: orange;
  border: none;
}

.sortButtonContainer .resetButton:hover {
  background-color: orange;
  color: white;
}

.formControls {
  height: 30px;
}

.randomizeButtonContainer {
  height: 40px;
}

@media screen and (max-width: 1200px) {
  .randomizeButtonContainer {
    margin-top: 16px;
    margin-left: 36px;
  }
}

.randomizeButton {
  height: 40px;
  font-size: 1em;
  background-color: #ff7300;
  color: white;
}

.randomizeButton:hover {
  background-color: #d56103;
  border: none;
  outline: none;
}
/*# sourceMappingURL=results.module.css.map */