.foodChoiceDiv {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foodChoiceBox {
  padding: 1.3em;
}

.foodChoiceTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ff7300;
  font-weight: bold;
  width: 300px;
  height: 45px;
  margin-left: 10px;
}

.foodChoiceResult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 30px;
  font-size: 1.5em;
  color: #323232;
  padding: 0.5em;
  border-radius: 20px;
  background-color: transparent;
  outline: 2px solid orange;
  -webkit-box-shadow: rgba(255, 89, 0, 0.3) 0px 1px 2px 0px, rgba(254, 111, 1, 0.15) 0px 1px 3px 1px;
          box-shadow: rgba(255, 89, 0, 0.3) 0px 1px 2px 0px, rgba(254, 111, 1, 0.15) 0px 1px 3px 1px;
}

.outterBox {
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.outterBox .innerBox {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.outterBox .innerBox .resultsColumns {
  width: 52%;
  padding: 0.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.outterBox .innerBox .mapBox {
  width: 45%;
  height: 100%;
  margin-top: 15px;
  -webkit-box-shadow: rgba(92, 92, 92, 0.3) 0px 1px 2px 0px, rgba(67, 67, 67, 0.15) 0px 1px 3px 1px;
          box-shadow: rgba(92, 92, 92, 0.3) 0px 1px 2px 0px, rgba(67, 67, 67, 0.15) 0px 1px 3px 1px;
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
}

.sortBy {
  width: 95%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Avenir";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

.sortBy .sortByTextCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Avenir";
  width: 40%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sortBy .sortByTextCont .sortByText {
  font-size: 1em;
  font-weight: bold;
  color: #616161;
}

.sortButtonContainer {
  width: 30%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 20px;
}

.sortButtonContainer .sortButtons {
  height: 30px;
  margin-right: 10px;
}

.formControls {
  height: 30px;
}

.randomizeButtonContainer {
  height: 40px;
}

.randomizeButton {
  height: 40px;
  font-size: 1em;
  background-color: #ff7300;
  color: white;
}

.randomizeButton:hover {
  background-color: #d56103;
  border: none;
  outline: none;
}
/*# sourceMappingURL=results.module.css.map */