@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  font-family: "Avenir";
}

.tabPageContainer {
  @include flexCenter(column);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;


  .backBtnCont {
    @include flexCenter(row);
    justify-content: flex-start;
    margin-bottom: 5px;
    width: 90%;
    height: 60px;

    .backBtn {
      color: rgb(255, 255, 255);
      background-color: rgb(38, 38, 38);
      border-radius: 10px;
      border: 2px solid orange;
    }
  }

  .innerTabs {
    width: 100%;
    height: 100%;
  }

}


.tabContainer {
  background-color: white;

  @media screen and (max-width: 500px) {
    height: 100%;
  }
}

