.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/Simple Shiny.svg");
  background-repeat: none;
  background-size: cover;
  position: absolute;
  top: 0;
  color: white;
}

.contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1200px;
  position: relative;
  top: -30px;
}

@media screen and (max-width: 1250px) {
  .contentContainer {
    width: 95%;
  }
}

@media screen and (max-width: 700px) {
  .contentContainer {
    margin: 100px 0 100px;
  }
}

.contentContainer .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 700px) {
  .contentContainer .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contentContainer .top .leftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contentContainer .top .leftSide .title {
  text-align: left;
  font-size: 150px;
  line-height: 85%;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
}

@media screen and (max-width: 900px) {
  .contentContainer .top .leftSide .title {
    font-size: 100px;
  }
}

@media screen and (max-width: 700px) {
  .contentContainer .top .leftSide .title {
    font-size: 75px;
    text-align: center;
  }
}

.contentContainer .top .leftSide .desc {
  position: relative;
  left: 10px;
  margin-bottom: 50px;
  font-size: 25px;
  text-align: left;
  font-family: "Raleway", sans-serif;
}

@media screen and (max-width: 900px) {
  .contentContainer .top .leftSide .desc {
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  .contentContainer .top .leftSide .desc {
    text-align: center;
    margin-bottom: 20px;
    left: 0;
    font-size: 17px;
  }
}

.contentContainer .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 30px;
}

.contentContainer .bottom .start {
  font-size: 40px;
  margin-bottom: 15px;
}

.contentContainer .bottom label {
  font-size: 23px;
  margin-bottom: 10px;
}

@media screen and (max-width: 560px) {
  .contentContainer .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contentContainer .bottom .locationRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: black;
}

@media screen and (max-width: 700px) {
  .contentContainer .bottom .locationRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contentContainer .bottom .locationRow .startBtn {
  height: 53px;
  margin-left: 10px;
  margin-top: -6px;
  background-color: #ff7300;
  color: white;
}

.contentContainer .bottom .locationRow .startBtn:hover {
  background-color: #ee6b00;
  border: none;
  outline: none;
}

@media screen and (max-width: 878px) {
  .contentContainer .bottom .locationRow .startBtn {
    margin-left: 20px;
  }
}

@media screen and (max-width: 700px) {
  .contentContainer .bottom .locationRow .startBtn {
    width: 95%;
    margin-left: 0;
    margin-top: 30px;
  }
}
/*# sourceMappingURL=Landing.module.css.map */