.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/Simple Shiny.svg");
  background-repeat: none;
  background-size: cover;
  position: absolute;
  top: 0;
  color: white;
  overflow: scroll;
}

@media screen and (max-width: 450px) {
  .container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.container .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1200px;
  position: relative;
}

@media screen and (max-width: 1250px) {
  .container .contentContainer {
    width: 95%;
  }
}

@media screen and (max-width: 700px) {
  .container .contentContainer {
    margin: 100px 0 100px;
  }
}

@media screen and (max-width: 450px) {
  .container .contentContainer {
    margin-top: 50px;
  }
}

.container .contentContainer .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 700px) {
  .container .contentContainer .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container .contentContainer .top .textDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .contentContainer .top .textDiv .title {
  text-align: left;
  font-size: 150px;
  line-height: 85%;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .container .contentContainer .top .textDiv .title {
    font-size: 100px;
  }
}

@media screen and (max-width: 700px) {
  .container .contentContainer .top .textDiv .title {
    font-size: 75px;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .container .contentContainer .top .textDiv .title {
    font-size: 55px;
  }
}

.container .contentContainer .top .textDiv .desc {
  position: relative;
  left: 10px;
  margin-bottom: 50px;
  font-size: 25px;
  text-align: left;
  font-family: "Raleway", sans-serif;
}

@media screen and (max-width: 900px) {
  .container .contentContainer .top .textDiv .desc {
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  .container .contentContainer .top .textDiv .desc {
    text-align: center;
    margin-bottom: 20px;
    left: 0;
    font-size: 15px;
  }
}

.container .contentContainer .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 30px;
}

.container .contentContainer .bottom .startDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.container .contentContainer .bottom .startDiv .start {
  font-size: 40px;
}

@media screen and (max-width: 450px) {
  .container .contentContainer .bottom .startDiv .start {
    font-size: 25px;
  }
}

.container .contentContainer .bottom .startDiv .loginBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  font-size: 20px;
  padding: 5px;
  background-color: white;
  color: #ee6b00;
}

.container .contentContainer .bottom .startDiv .loginBtn:hover {
  background-color: #f1f1f1;
  border: none;
  outline: none;
}

.container .contentContainer .bottom .startDiv .loginBtn .btnText {
  margin-right: 5px;
}

@media screen and (max-width: 450px) {
  .container .contentContainer .bottom .startDiv .loginBtn {
    font-size: 15px;
  }
}

.container .contentContainer .bottom label {
  font-size: 23px;
  margin-bottom: 10px;
}

@media screen and (max-width: 560px) {
  .container .contentContainer .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container .contentContainer .bottom .locationRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  color: black;
}

@media screen and (max-width: 700px) {
  .container .contentContainer .bottom .locationRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container .contentContainer .bottom .locationRow .startBtn {
  height: 53px;
  margin-left: 10px;
  margin-top: -4px;
  background-color: #ff7300;
  color: white;
}

.container .contentContainer .bottom .locationRow .startBtn:hover {
  background-color: #ee6b00;
  border: none;
  outline: none;
}

@media screen and (max-width: 878px) {
  .container .contentContainer .bottom .locationRow .startBtn {
    margin-left: 20px;
  }
}

@media screen and (max-width: 700px) {
  .container .contentContainer .bottom .locationRow .startBtn {
    width: 95%;
    margin-left: 0;
    margin-top: 30px;
  }
}

@media screen and (max-width: 450px) {
  .container .contentContainer .bottom .locationRow .startBtn {
    margin-top: 0;
  }
}
/*# sourceMappingURL=Landing.module.css.map */