.inputContainer {
  display: flex;
  flex-direction: column;
  .title {
    font-size: 20px;
  }
}

.formContainer {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 878px) {
    width: 100%;
  }
}

.formInput {
  border: 1px solid rgba(80, 80, 80, 0.377);
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin-right: 10px;
  width: 400px;
  &:hover {
    border: 1px solid black;
  }
  &:focus-within {
    border: 1px solid rgb(21, 111, 245);
  }
}

.submitBtn {
  position: relative;
  left: 10px;
  text-decoration: none;
}
