.navOuterContainer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 20px;
    .navbarLogoContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      .munchHuntTitle {
        font-size: 30px;
        margin-left: 10px;
        font-weight: bold;
        color: rgb(58, 58, 58);
        cursor: default;
      }
    }
    .navbarLinkContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      .navLinks {
        text-decoration: none;
        color: black;
        margin-left: 20px;
        font-size: 25px;
        cursor: pointer;
        &:hover {
          color: rgb(197, 95, 0);
        }
      }
    }
  }
}
