.navOuterContainer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 90%;
    @media screen and (max-width: 700px) {
      width: 100%;
      padding: 10px;
    }
    .navbarLogoContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      .munchHuntTitle {
        font-size: 30px;
        margin-left: 10px;
        font-weight: bold;
        color: rgb(58, 58, 58);
        cursor: pointer;
        @media screen and (max-width: 700px) {
          font-size: 20px;
          margin-left: 5px;
        }
      }
    }
    .navbarLinkContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      .navLinks {
        text-decoration: none;
        color: black;
        margin-left: 20px;
        font-size: 25px;
        cursor: pointer;
        &:hover {
          color: rgb(197, 95, 0);
        }
        @media screen and (max-width: 700px) {
          font-size: 20px;
        }
      }
    }
    .infoContainer {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 70px 70px 0;
      border-color: transparent #ff7300 transparent transparent;
      display: flex;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      &:hover {
        border-color: transparent #f06c00 transparent transparent;
      }
      .i {
        position: relative;
        top: 10px;
        right: -36px;
        color: white;
        @media screen and (max-width: 770px) {
          top: 2px;
          right: -19px;
        }
      }
      @media screen and (max-width: 770px) {
        border-width: 0 40px 40px 0;
      }
    }
  }
}
